.p{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal
}
.unbounded-uniquifier-p {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }